utils/__pycache__/Utils.cpython-313.pyc
__pycache__/config.cpython-313.pyc
gui/records/__pycache__/DijagnozaRecords.cpython-313.pyc
gui/records/__pycache__/LekarRecords.cpython-313.pyc
gui/records/__pycache__/PacijentRecords.cpython-313.pyc
gui/records/__pycache__/Records.cpython-313.pyc
gui/views/__pycache__/AdminView.cpython-313.pyc
gui/views/__pycache__/View.cpython-313.pyc
utils/__pycache__/Utils.cpython-313.pyc
